 

.fields {
  margin: 50px 0px;
  /* margin-top: 8rem; */
}

.avatar {
  vertical-align: middle;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border-width: 5px;
  border-color: gray;
  border-style: outset;
}











.side-nav {
    width: 100%;
    background-color: white;
    color: black;
    right: 0px;
    padding-bottom: 10rem;
    margin-top: 6rem;
    padding-top: 2rem;
    height: 100vh;
    transition: width 2s ease 0s;
    overflow-x: auto;
    box-shadow: rgb(0 0 0 / 69%) 1rem 0px 0.87rem 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}
.overlay{
    width: 50%;
     
}


.prf {
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 2px 4px 0px;
}
.prf .row {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 1.2rem 0px 1.2rem 1.2rem;
    cursor: pointer;
}
.prf .row__it {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    width: 80%;
}
.prf .row__it__txt {
    margin-left: 1.5rem;
    width: 100%;
}
.prf .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.prf .nm-ico {
    border-radius: 25%;
    background-color: rgb(0, 102, 167);
    padding: 0.7rem 1rem;
    font-size: 1rem;
    color: white;
}
.prf .jvblCf {
    background-image: url(https://pizzaonline.dominos.co.in/static/assets/icons/myprofile_phone-call.svg);
    min-width: 0.3em;
    min-height: 0.3em;
    background-repeat: no-repeat;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1.5rem;
    background-size: 1.4rem;
}
.prf .oHexC {
    background-image: url(https://pizzaonline.dominos.co.in/static/assets/icons/myprofile_mail_icon.svg);
    min-width: 0.3em;
    min-height: 0.3em;
    background-repeat: no-repeat;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1.5rem;
    background-size: 1.4rem;
}
.prf .bg-nm {
    background-color: rgb(205, 230, 246);
    -webkit-box-align: center;
    align-items: center;
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
}


.prf .row__brd-btm {
    border-bottom: 2px solid rgba(0, 102, 167, 0.87);
}






.prf .row__actn {
    border-radius: 1px;
    border: 1px solid rgb(213, 231, 243);
    background-color: rgb(242, 242, 242);
    color: rgb(22, 155, 243);
    font-size: 1rem;
    font-weight: 800;
    margin-right: 1rem;
    padding: 0.5rem 1rem;
}



.prf-opt {
    width: 100%;
    padding-top: 1rem;
    border-radius: 0px 0px 1rem 1rem;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 2px 4px 0px;
}
.prf-opt .row {
    display: flex;
    padding: 1.2em;
    align-items: normal;
    cursor: pointer;
}
.prf-opt .row__it {
    -webkit-box-align: center;
    align-items: center;
}
.prf-opt .EzWyv {
    background-image: url(https://pizzaonline.dominos.co.in/static/assets/icons/my_favorite.svg);
    min-width: 0.3em;
    min-height: 0.3em;
    background-repeat: no-repeat;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1.5rem;
    background-size: 1.4rem;
}

.prf-opt .dpwSPV {
    background-image: url(https://pizzaonline.dominos.co.in/static/assets/icons/myprofile_myOrder.svg);
    min-width: 0.3em;
    min-height: 0.3em;
    background-repeat: no-repeat;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1.5rem;
    background-size: 1.4rem;
}

.prf-opt .cQMvSn {
    background-image: url(https://pizzaonline.dominos.co.in/static/assets/icons/myprofile_address.svg);
    min-width: 0.3em;
    min-height: 0.3em;
    background-repeat: no-repeat;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1.5rem;
    background-size: 1.2rem;
}
.prf-opt .gJNkXT {
    background-image: url(https://pizzaonline.dominos.co.in/static/assets/icons/logout.svg);
    min-width: 0.3em;
    min-height: 0.3em;
    background-repeat: no-repeat;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1.5rem;
    background-size: 1.4rem;
}
.row__txt a{
    text-decoration: none;
    color:black;
}